<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css.css">
    <title>Tips</title>
</head>


<body th:style="'background: url(reservoir-dogs_diner-1.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;'">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-typeA">Tip Calculator</h1>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid jumbertran">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <!--  -->
                    </div>
                    <div class="col-6 text-center">
                        <table class="table table-bordered" border="3">
                            <tr>
                                <td colspan="2">
                                    <span class="text-typeC">Calculated tip: $<span class="text-typeC" th:text="${tip}"></span></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="text-typeC">Total + Tip: $<span class="text-typeC" th:text="${final}"></span></span>
                                </td>
                            </tr>
                            <tr>
                                <td><div class="text-right">
                                    <span class="text-typeB">Party Size: </span>
                                </div></td>
                                <td><div class="text-left">
                                    <!-- <span class="text-typeB" th:if="${party < 5}">1 - 5</span> -->
                                    <span class="text-typeB" th:if="${party < 5}"><span th:text="${party}"></span></span>
                                    <span class="text-typeB" th:unless="${party < 5}">6+</span>
                                </div></td>
                            </tr>
                            <tr>
                                <td><div class="text-right">
                                    <span class="text-typeB">Satisfaction: </span>
                                </div></td>
                                <td><div class="text-left">
                                    <span class="text-typeB" th:text="${sat}"></span>
                                </div></td>
                            </tr>
                            <tr>
                                <td><div class="text-right">
                                    <span class="text-typeB">Total: </span>
                                </div></td>
                                <td><div class="text-left">
                                    <span class="text-typeB">$</span><span class="text-typeB" th:text="${total}"></span>
                                </div></td>
                            </tr>
                            
                            <tr>
                                <td colspan="2">
                                    <a class="btn btn-large btn-success btn-outline-warning" id="submit" href="/" role="button">Reset</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-3">
                        <!--  -->
                    </div>
                </div>
            </div>
          </div>

        
        
    </div>

<span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>