        /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
margin: 0;
}
        
        /* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
        
 .table-bordered td, .table-bordered th{
     border-color: black !important;
}

.slider{
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: silver;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #00c206; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 24px;
}

.slider::-moz-range-thumb {
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #00c206; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 24px;
}

body{
  background-color: rgb(132, 158, 164);
}

.text-typeA{
  font-size: 72px;
  font-family: 'Orbitron', sans-serif;
  color: rgb(0, 67, 167);
  text-shadow: 0px 0px 6px #ffffff;

}

.text-typeB{
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
  color: rgb(0, 67, 167);
  text-shadow: 0px 0px 4px #ffffff;

}

.text-typeC{
  font-size: 36px;
  font-family: 'Orbitron', sans-serif;
  color: rgb(3, 133, 22);
  /* color: rgb(0, 67, 167); */
  text-shadow: 0px 0px 5px #ffffff;
}

.jumbertran{
  background-color: rgba(135, 118, 133, 0.777);
}